 .album-header-container {
    margin-top: 55px;
    margin-bottom: 40px;
  }
 
  .album-header-information {
    // Pushes the album information down and makes sure there's sufficient space at the bottom of the page
    margin-top: 45px;
    margin-bottom: 20px;

    h3, h4, h5 {
      line-height: 150%;

      h3 {
        font-size: 48px;
        font-weight: 300;
      }
      h4 {
        font-size: 24px;
        font-weight: 700;
      }
      h5 {
        font-size: 16px;
        font-weight: 500;
      }
    }
  } 

  .table.album-song-listing {
    // Override the font for the entire table.
    font-weight: 300;

    td {
      padding: 20px;
      border-top: 1px solid rgba(255, 255, 255, .4);
    }
  }
 
  .album-song-button {
    text-align: center;
    font-size: 14px;
    background-color: white;
    color: #d2287b;
    border-radius: 50% 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
 
    button:hover {
      cursor: pointer;
      color: white;
      background-color: #d2287b;
    }
 
    i {
    line-height: 28px;
    }
 
    .fa-play {
      padding-left: 5px;
    }
  }
 
  .album-song-listing td {
    vertical-align: center;
    
    song-number {
      padding: 0;
      height: 70px;
      text-align: center;
    }
  }