@media screen and (max-width: 768px) {


  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
    .hero-content {
      h1, h3 {
        text-align: center;
      }
    }
    .selling-points {
      padding: 0;
      .point {
        padding: 3em 0.75em;
        h5 {
          height: 2.25em;
        }
        p {
          text-align: center;
          font-size: 1.25em;
        }
      }
    }
    .landing-album-list {
      /* Example class added to style the album covers for mobile */
      .album-cover {
        position: relative;
        left: calc(50%  - 200px);
      }
    }

    .player-bar .container {
      // display:none;
      height: 100px;
      background: rgb(204, 51, 255, 0.3);
        .left-controls {
          width: 50%;
          text-align: middle;
        }
        .right-controls {

        }
        // .player-bar-cotrol-group {
        //   display: none;

        // }
    }
  }

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }


}