// <meta name="viewport" content="width=device-width" />

  @media screen and (max-width: 768px) {


     .hero-content h1 {
  }
  /* Landing Page and Global Styles */
  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
    .hero-content {
      h1, h3 {
        text-align: center;
      }
    }
    .selling-points {
      padding: 0;
      .point {
        padding: 3em 0.75em;
        h5 {
          height: 2.25em;
        }
        p {
          text-align: center;
          font-size: 1.25em;
        }
      }
    }
    .landing-album-list {
      /* Example class added to style the album covers for mobile */
      .album-cover {
        position: relative;
        left: calc(50%  - 200px);
      }
    }
  }

  /* Player bar */
      .player-bar {

      height: 100px;
      // background: rgb(204, 51, 255, .3);
        .left-controls {
         width: 100%;
        }
        .currently-playing {
          width: 100%;
        }
        .play-controls {
      //this doesnt work
        }
        .right-controls {
          display: none;
        }

        // .player-bar-cotrol-group {
        //   display: none;

        // }
    }
    .player-bar-control-group {
        display:block;
    }

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px; /* Width of the album image. */
  }


}